* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    overflow: hidden; /* Скрыть полосы прокрутки */
}

.background-video {
    position: absolute; /* Позиционирование абсолютно */
    top: 0;
    left: 0;
    width: 100%; /* Занять всю ширину */
    height: 100%; /* Занять всю высоту */
    object-fit: cover; /* Изменение размера для заполнения контейнера */
    z-index: -1; /* Поместить видео за содержимым */
}

.auth-container {
    background-color: rgba(255, 255, 255, 0.0); /* Полупрозрачный фон */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.0);
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px; /* Высота контейнера */
}

.auth-container h1 {
    font-size: 24px;
    text-align: center;
    color: #ffffff;
}

.auth-container form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Отступы между полями формы */
}

.auth-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.auth-container input:focus {
    border-color: #4a90e2;
}

.auth-container button {
    width: 100%;
    padding: 10px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-container button:hover {
    background-color: #357ab8;
}

.auth-container p {
    text-align: center;
    margin-top: 10px;
    color: #ffffff;
}

.auth-container a {
    color: #357ab8;
    text-decoration: none;
    transition: color 0.3s ease;
}

.auth-container a:hover {
    color: #357ab8;
}
